{% extends 'dashboard/base_site.html' %}
{% load static %}

{% block section_title %}Summary{% endblock %}

{% block content %}


         <!-- Default box -->
         <div class="card">
            <div class="card-header">
              <h3 class="card-title">Title</h3>
    
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              Example pages:
              <ul>
                <li><a href="{% url 'dashboard:contacts' %}">Contacts</a></li>
                <li><a href="{% url 'dashboard:gallery' %}">Gallery</a></li>
                  <li><a href="{% url 'dashboard:widgets' %}">Widgets</a></li>
                  <li><a href="{% url 'dashboard:profile' %}">Profile</a></li>
                  <li><a href="{% url 'dashboard:buttons' %}">Buttons</a></li>
                  <li><a href="{% url 'dashboard:timeline' %}">Timeline</a></li>
                  <li><a href="{% url 'dashboard:ribbons' %}">Ribbons</a></li>
                  <li><a href="{% url 'dashboard:general' %}">General</a></li>
                  <li><a href="{% url 'dashboard:tables' %}">Tables</a></li>
              </ul>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              Footer
            </div>
            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
    
{% endblock content %}


{% block extra_style %}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

{% endblock extra_style %}

{% block extra_script %}
{% endblock %}